nav {
    box-shadow: var(--shadow);
    width: max-content;
    display: block;
    padding: .5rem;
    z-index: 2;
    position: fixed;
    margin-left: 50%;
    transform: translate(-50%);
    bottom: .5rem;
    display: flex;
    gap: 1rem;
    border-radius: 5rem;
    backdrop-filter: blur(5px);
}
nav a {
    background: var(--color-transparent);
    color: var(--color-white);
    font-size: 1.1rem;
    display: flex;
    border-radius: 50%;
    padding: .5rem;
}
nav a:hover {
    background: var(--color-active);
    color: var(--color-primary);
}
nav a.active {
    background: var(--color-active);
    color: var(--color-primary);
}